.burger-button {
  background-color: rgb(37 99 235);
  z-index: 50;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  color: white;  /*text-white*/
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.burger-button:hover {
  background-color: rgb(29 78 216);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 40;
}

.menu-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 50;
}

.menu-sidebar.open {
  transform: translateX(0);
}

.menu-header {
  padding: 1rem;
  border-bottom-width: 1px solid rgb(229 231 235);
}

.menu-title {
  font-size: 1.125rem; 
  font-weight: 600;
  color:  #1f2937;
}

.menu-items-container {
  overflow-y: auto;
  height: 100%; 
  padding-bottom: 5rem;
}

.menu-item {
  border-width: 1px solid rgb(243 244 246);
}

.menu-item-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px; 
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item-button:hover {
  background-color: rgb(249 250 251);
}

.menu-item-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.menu-item-title {
  font-weight: 500;
  color: rgb(55 65 81);
}

.submenu {
  background-color: rgb(249 250 251);
}

.submenu-item {
  width: 100%;
  text-align: left;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  color: rgb(75 85 99);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  border-left: 2px solid transparent;
}

.submenu-item:hover {
  background-color: #f3f4f6;
  color: #111827;
  border-left-color: #3b82f6
}

.menu-icon {
  width: 18px;
  height: 18px;
}

.chevron-icon {
  width: 16px;
  height: 16px;
}