.fixed-buttons-container-left {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  gap: 10px;  /* Espacement entre les boutons */
  z-index: 1000;  /* Pour s'assurer qu'ils restent au-dessus du reste */
}

.fixed-buttons-container-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;  /* Espacement entre les boutons */
  z-index: 1000;  /* Pour s'assurer qu'ils restent au-dessus du reste */
}